.heading {
  background-color: blue;
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  color: white;
}

.description {
  font-family: verdana;
  color: green;
  font-size: 20px;
  margin: 50px;
}

body {
  background-color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
