p {
  font-family: verdana;
  color: green;
  font-size: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  color: white;
}

body {
  background-color: white;
}

.heading {
  background-color: blue;
}
